.task-list-container {
  max-width: 600px;
  margin: auto;
}

.task-card {
  margin: 10px 0;
  padding: 15px;
  border-left: 5px solid #007BFF;
}

mat-card-title {
  font-weight: bold;
}

.high-priority {
  background-color: #ff5252;
  color: white;
  padding: 5px;
  border-radius: 4px;
}

.medium-priority {
  background-color: #ffa726;
  color: white;
  padding: 5px;
  border-radius: 4px;
}

.low-priority {
  background-color: #66bb6a;
  color: white;
  padding: 5px;
  border-radius: 4px;
}
